[Unit]
Description=VM Agent - VSOCK Communication Service
After=network.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/home/cloud-user/
ExecStart=/home/cloud-user/vm-agent-amd64 --port 818
StandardOutput=journal
StandardError=journal
